/* styles/globals.css */
nav link {
  display: inline-block;
  padding: 8px 16px;
  background: lightblue;
  border-radius: 4px;
  margin: 10px;
  text-decoration: none;
}

nav link:hover {
  background: rgb(21, 186, 40);
  color: white;
}